resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

// set your directory
dir = "/group/$PAWSEY_PROJECT/$USER/dunnart/"

profiles {

 conda {
    workDir = "${dir}/nf-work"
    process.conda = 'bioconda::pb-assembly=0.0.8-0'
    cacheDir = "${dir}/nf-work"
  }

zeus {
  workDir = "${dir}/nf-work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
    container = '/group/$PAWSEY_PROJECT/$USER/dunnart/pb-assembly_0.0.8-0.sif'
    module = 'singularity'
  }

  singularity {
     enabled = true
     autoMounts = true
     runOptions = '-B /group -B /scratch'
  }

  params.slurm_account = '$PAWSEY_PROJECT'
  process {
    executor = 'slurm'
    queue = 'workq'
    clusterOptions = "--export=ALL"
  }

  executor {
  $slurm {
      cpus = 28
      memory = '128 GB'
  }
  }
}
}