resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

// set your directory
dir = "/group/pawsey0002/astott/dunnart/"

profiles {

zeus {
  workDir = "${dir}/nf-work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
    container = 'docker://marcodelapierre/pb-assembly:0.0.8'
  }

// define your container
//  process.container = 'docker://marcodelapierre/pb-assembly:0.0.8'

  singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /group -B /scratch'
  }

  params.slurm_account = 'pawsey0002'
  process {
    executor = 'slurm'
    queue = 'workq'
    clusterOptions = "--export=ALL"
  }

  executor {
  $slurm {
      cpus = 28
      memory = '128 GB'
  }
  }
}
}