resume = true

trace {
  fields = 'name,hash,status,exit,realtime,submit'
}

// set your directory
dir = ""

profiles {

 conda {
    workDir = "${dir}/nf-work"
    process.conda = "pb-assembly.yml"
    cacheDir = "${dir}/nf-work"
  }

zeus {
  workDir = "${dir}/nf-work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
    container = 'docker://quay.io/biocontainers/pb-assembly:0.0.8--0'
    module = 'singularity'
  }

  singularity {
     enabled = true
     autoMounts = true
     runOptions = '-B /group -B /scratch'
  }

  process {
    executor = 'pbs'
    queue = 'normal'
  }

  executor {
  $pbs {
      cpus = 48
      memory = '190 GB'
  }
  }
}
}
